<!--
Show warnings when: 
1. The translation is modified earlier than the default language version.
2. The translation is exactly the same as the default language version.
-->
{{ if ne .Language .Sites.First.Language }}
{{ $pathFormatted := replace .Path "\\" "/" }}
{{ $gh_repo := ($.Param "github_repo") }}
{{ $gh_subdir := ($.Param "github_subdir") }}
{{ $gh_branch := (default "master" ($.Param "github_branch")) }}
{{ $editURL := printf "%s/edit/%s/content/%s" $gh_repo $gh_branch $pathFormatted }}
{{ if $gh_subdir }}
{{ $editURL = printf "%s/edit/%s/%s/content/%s" $gh_repo $gh_branch $gh_subdir $pathFormatted }}
{{ end }}
{{ $mainLangPath := path.Join .File.Dir (print .File.TranslationBaseName "." .File.Ext) }}
{{ $historyURL := printf "%s/commits/%s/content/%s" $gh_repo $gh_branch $mainLangPath }}
{{ if $gh_subdir }}
{{ $historyURL = printf "%s/commits/%s/%s/content/%s" $gh_repo $gh_branch $gh_subdir $mainLangPath }}
{{ end }}
{{ $translation := . }}
{{ range first 1 .Translations }}
{{ if and (or (eq .Title $translation.Title) (ge .WordCount 10)) (eq .Content $translation.Content) }}
<div class="pageinfo pageinfo-primary">
    {{ T "unfinished_translation" }}
    {{ T "help_translation" (dict "editURL" $editURL) | safeHTML }}
</div>
{{ else if .Lastmod.After $translation.Lastmod }}
<div class="pageinfo pageinfo-primary">
    {{ T "outdated_translation" (dict "originLink" .Permalink "historyURL" $historyURL) | safeHTML }}
    {{ T "help_translation" (dict "editURL" $editURL) | safeHTML }}
</div>
{{ end }}
{{ end }}
{{ end }}